<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Product List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="sellerlist">
        <h1>All Products List</h1>
        <p>If you want to create Product<a href="{% url 'product:create' %}" class="btn btn-sm btn-danger logout-btn">Create Product</a></p>
        {%csrf_token%}
        <ul>
            {%for i in obj%}
            <li>
            <img src="{{ i.image.url }}" alt="{{ product.name }}" style="width: 100px; height: auto;">
                    <p>{{ product.name }}</p>
                    <p>{{ product.price }}</p>
                    <p>{{ product.description }}</p>
                </li>
            {%endfor%}
        
        </ul>
    </div>
    <a href="{% url 'website:homepage' %}" class="btn btn-sm btn-danger logout-btn">Homepage</a>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>