<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <style>
        .single_product_details {
            margin-top: 50px;
        }
        .product-img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="container single_product_details">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <img src="{{ obj.image.url }}" alt="{{ obj.name }}" class="product-img img-fluid">
            </div>
            <div class="col-md-6">
                <h1>{{ obj.name }}</h1>
                <p><strong>Price:</strong> Rs: {{ obj.price }}</p>
                <p><strong>Description:</strong> {{ obj.description }}</p>
                <p><strong>Posted Date:</strong> {{ obj.posted_date }}</p>
                <p><strong>Product Created by:</strong> {{ obj.user }}</p>
            </div>
        </div>
        <a href="{%url 'product:sellerview'%}" class="btn btn-sm btn-primary">Seller Page</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
